@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/ArialMT.woff2') format('woff2'),
        url('../../assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.woff2') format('woff2'),
        url('../../assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    
    font-family: 'Roboto', sans-serif;
    height: 100%;    
}
body._lock {
    overflow: hidden;
}

.wrapper {
   max-width: 1160px;
   margin: auto;
}

.header {    
    z-index: 2;
    background: #000000;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 80px;
}

.header__wrapper {
    display: flex;
    align-items: center;    
    padding: 14px 0;
}

.logo {
    position: relative;
    font-size: 19px;
    line-height: 132%;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;    
}

.logo__border {
    width: 82px;
    height: 52px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin-right: 35px;    
}

.bamboo {
    position: absolute;
    right: 59px;
    bottom: 6px;
}

.navigation {
    display: flex;
}

.navigation__link {
    padding: 0 29px;
    font-size: 16px;
    color: #FFFFFF; 
}

.figma {
    padding: 0 0;
}

.navigation__link__menu {
    color: #FFFFFF;
}

.navigation__link__menu:hover {
    color: #F9804B;    
}

.navigation__link__active {
    color: #F9804B;
    cursor: default;  
}



.header__navigation {
    margin-right: 410px;
}

.started__image{
    width: 100%;
}



.pick__friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    height: 1477px;
}

.pick__friend__content {
    padding-bottom: 61px;
}

.wrapper h2 {
    font-size: 36px;
    color: #FFFFFF;
    line-height: 130%;
    font-weight: 300;
    padding-top: 37px;
}

.wrapper__text {
    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
    color: #FFFFFF;
    padding-top: 10px;
    letter-spacing: 0.005rem;
}

.wrapper h3 {
    font-size: 36px;
    color: #FE9013;
    padding-top: 46px;
    padding-bottom: 60px;
}

.pick__friend__block {
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    text-align: center;
    padding-top: 40px;
}

.pick__friend__block__title {
    font-size: 48px;
    color: #FE9013;
}

.pick__friend__block__subtitle {
    padding-right: 133px;
    font-size: 24px;
    line-height: 120%;
    color: #333b41;
    padding-top: 23px;
}

.pick__friend__block__panda {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding-top: 59px;
}

.number {
    font-size: 72px;
    font-weight: 500;
}

.number__panda__text {
    font-size: 16px;
    color: #333b41;
}

.number__panda {
    margin-right: 9px;    
    margin-top: 38px;
}

.x_icon {
    margin-right: 66px;    
    margin-top: 28px;
}

.animals__widget {
    padding-right: 14px;
}

.amount {
    text-align: initial;
    padding-top: 48.53px;
    padding-left: 96px;
}

.pick__friend__rectangle1 {
    max-width: 976px;
    height: 27px;
    background-color: #404950;
    border-radius: 2px;
    margin: auto;
    /* position: relative; */
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick__friend__rectangle2 {
    width: 915px;
    height: 2px;
    background-color: #72828E;
    /* position: absolute; */
    /* top: 12px; */
    /* left: 31px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .circle1 {
    position: absolute;
    bottom: -4px;    
    left: -5px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle2{
    position: absolute;
    bottom: -4px;    
    left: 127px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle3{
    position: absolute;
    bottom: -4px;    
    left: 257px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle4{
    position: absolute;
    bottom: -4px;    
    left: 388px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle5{
    position: absolute;
    bottom: -4px;    
    left: 516px;  
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.circle6{
    position: absolute;
    bottom: -4px;    
    left: 647px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle7{
    position: absolute;
    bottom: -4px;    
    left: 777px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle8{
    position: absolute;
    bottom: -4px;    
    left: 906px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFEE2E;
    border-radius: 100px;    
    background-color: #FFEE2E;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.buttons{
    display: flex;  
    align-items: center; 
    justify-content: space-between;
    column-gap: 73px;
}
.labelButton {
	width: 3.6rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
    cursor: pointer;
}

.labelButton > div{
    /* width: 0.5rem;
    height: 0.5rem;      
    border-radius: 50%;
    border: solid 0.18rem #FFEE2E;
    background-color: #FFEE2E;    */
    
    border-radius: 50%;
    background-color: #FFEE2E;
    width: 1.1em;
    height: 1.1em;
    padding: 2px; 
    border: 3px solid transparent;
    background-clip: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, border 0.5s ease;      
}


.labelButton:hover > div{    
    border: 3px solid transparent;   
    outline: 2px solid #FE9013;        
}

.labelButton:hover > div > span{    
    border: 17px solid transparent;   
    outline: 2px solid #FE9013;  
    border-radius: 50%;       
}

/* удалить после адаптива */
.labelButton3 > div{    
    border: 3px solid transparent;   
    outline: 2px solid #FE9013;        
}

.labelButton3 > div > span{    
    border: 17px solid transparent;   
    outline: 2px solid #FE9013;  
    border-radius: 50%;       
}
/* удалить после адаптива */

#slide1:checked ~ .controls > .buttons > #s1 > div,
#slide2:checked ~ .controls > .buttons > #s2 > div,
#slide3:checked ~ .controls > .buttons > #s3 > div,
#slide4:checked ~ .controls > .buttons > #s4 > div,
#slide5:checked ~ .controls > .buttons > #s5 > div, 	
#slide6:checked ~ .controls > .buttons > #s6 > div, 	
#slide7:checked ~ .controls > .buttons > #s7 > div, 	
#slide8:checked ~ .controls > .buttons > #s8 > div {	
	background-color: transparent;    
}

#slide1:checked ~ .controls > .text > #text1,
#slide2:checked ~ .controls > .text > #text2,
#slide3:checked ~ .controls > .text > #text3,
#slide4:checked ~ .controls > .text > #text4,
#slide5:checked ~ .controls > .text > #text5,
#slide6:checked ~ .controls > .text > #text6,
#slide7:checked ~ .controls > .text > #text7,
#slide8:checked ~ .controls > .text > #text8 {
	visibility: visible;	
	opacity: 1;
	transform: translateX(0);
	transition: 1.2s;
    height: auto;
}
#slide1:checked ~ .controls > .buttons > #s1:hover > div,
#slide2:checked ~ .controls > .buttons > #s2:hover > div,
#slide3:checked ~ .controls > .buttons > #s3:hover > div,
#slide4:checked ~ .controls > .buttons > #s4:hover > div,
#slide5:checked ~ .controls > .buttons > #s5:hover > div,
#slide6:checked ~ .controls > .buttons > #s6:hover > div,
#slide7:checked ~ .controls > .buttons > #s7:hover > div,
#slide8:checked ~ .controls > .buttons > #s8:hover > div {
	border: solid 0.18rem #c52121;
}

/* 5===================================================5 */
.price {
    display: flex;
    justify-content: space-between;
    padding: 15px 92px;  
    column-gap: 56px;  
}

.price__image {
    display: flex;    
    width: 90px;
}

.price__image p{
    font-size: 26px;    
}

.price__image__orange {
    color: #FE9013;
}

.number__amount{
    margin-top: 40px;
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.number__amount > .placeholder {
    color: #4B9200;
}

.input__radio {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.input__radio__monthly {
    column-gap: 10px;
    display: flex;
    padding-right: 3px;
    align-items: center;
}

.input__radio__once {
    column-gap: 9px;
    align-items: center;
    display: flex;
    padding-right: 13px;
}


.button_link {
    padding: 16px 74px;   
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;  
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.button_link:hover{
    background: #E47209;
}

.promo__buttons {
    padding-top: 48px;
}

.social__text {
    padding-top: 46px;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
}

.footer {
    background-color: #111115;
}

.footer__one {
    display: flex;
    justify-content: space-between;
}

.footer__one {
    display: flex;
    padding-top: 40px;
}

.footer__text {
    color: #FFFFFF;
    font-size: 24px;
}

.submit {
    padding: 8px 38px;   
    background: #F1F3F2;
    border-radius: 5px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;  
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #000000;
}

.submit:hover{
    cursor: pointer;
    color: #4B9200;
    border: 1px solid #4B9200;
}

.email {
    width: 228px;
    height: 42px;
    background-color: #111115;
    border: 1px solid #F9804B;    
}

.footer__email__enter {
    align-items: center;
    column-gap: 11px;
    display: flex;
    padding-top: 14px;
}

.footer__buttons {
    padding-top: 52px;
}

.button__link__donate {
    padding: 17px 50px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.button__link__donate:hover {
    background: #E47209;
}

.footer__three {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.social__networks {
    padding-top: 48px;
}

.footer__networks {
    display: flex;
    column-gap: 12px;
    margin: 10px 0;
    align-items: center;
}

.circle__image {
    width: 26px;
    height: 26px;    
    border-radius: 100px;    
    background-color: rgba(196, 196, 196, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__networks p {
    color: #FFFFFF;
}

.footer__navigation {
    margin-bottom: 12px;
    margin-left: 122px;
}

.footer__school p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    line-height: 216%;
}

.footer__wrapper{
    height: 443px;
}

.placeholder {
    font-size: 16px;
    color: #BDBDBD;
}

.circle__image:hover{    
    background-color: #4B9200;
    cursor: pointer;
}
.circle__image:hover ~.inner>.footer__networks__text{
    color: #4B9200;
    cursor: pointer;
}
.footer__networks__text:hover{
    color: #4B9200;
    cursor: pointer;
}

.footer__networks__text:hover~.circle__image{
    color: #4B9200;
  }
