@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/ArialMT.woff2') format('woff2'),
        url('../../assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.woff2') format('woff2'),
        url('../../assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar { width: 0;}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
/* 
img {
    vertical-align: top;
} */

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    
    font-family: 'Roboto', sans-serif;
    height: 100%;    
}
body._lock {
    overflow: hidden;
}

.wrapper {
   max-width: 1160px;
   margin: auto;
}

.header {
    position: absolute;
    z-index: 2;
    background: #000000;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 80px;
}

.header__wrapper {
    display: flex;
    align-items: center;    
    padding: 14px 0;
}

.logo {
    position: relative;
    font-size: 19px;
    line-height: 132%;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;    
}

.logo__border {
    width: 82px;
    height: 52px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin-right: 35px;    
}

.bamboo {
    position: absolute;
    right: 59px;
    bottom: 6px;
}

.navigation {
    display: flex;
}

.navigation__link {
    padding: 0 29px;
    font-size: 16px;
    color: #FFFFFF; 
}

.figma {
    padding: 0 0;
}

.navigation__link__menu {
    color: #FFFFFF;
}

.navigation__link__menu:hover {
    color: #F9804B;    
}

.navigation__link__active {    
    color: #F9804B;
    cursor: default;
}

.header__navigation {
    margin-right: 410px;
}



.started__image {
    z-index: 1;
    width: 100%;
}


.started__image__background {
    background: url(../../assets/images/Giant\ Panda\ \(1\).png) no-repeat;
    background-size: 100%;
}

.ellipse {
    text-align: end;    
    padding: 92px 108px 0 0;
    z-index: 1;
    position: absolute;
    top: 0;    
}


h2 {
    width: 500.31px;    
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;    
    color: #FFFFFF;
    z-index: 2;     
    padding-bottom: 47px;
    letter-spacing: 1px;
    line-height: 80px;
}

.promo__content {
    height: 780px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_link {   
    padding: 16px 99px;   
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;  
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.promo__buttons {
    left: 982px;
    top: 641px;
    position: absolute;
}

.button_link:hover {
    background: #E47209;
}

.color_text {
    color: #FFEE2E;
}

/* =====================backstage======================= */
.backstage__image {
    background: url(../../assets/images/flower_foto1.png) no-repeat;
    background-position: right;       
    background-position-y: 12px;
}

.backstage__content {
    max-width: 609px;
    max-height: 403px;
}
.backstage__wrapper {
    display: flex;
    padding: 140px 0;    
}

.backstage__text {    
    max-width: 542px;
    padding-left: 87px;
}

h3 {
    font-size: 48px;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;  
    color: #333B41;
}

h4 {
    font-size: 24px;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;  
    color: #333B41;
    padding-top: 54px;
}

.text {
    font-size: 16px;
    line-height: 140%;
    font-family: 'Roboto', sans-serif;  
    color: #333B41;
    padding-top: 20px;
}

.text__text {
    padding-top: 34px;
    line-height: 140%;
}

/* ====================animals======================== */

.animals__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
}

.animals__wrapper {
    max-width: 1322px;
}

.animals__image {
    border-radius: 5px;
    width: 100%;
    border-radius: 5px 5px 0 0;    
}



.animals__card {
    max-width: 366px;
    max-height: 426px;
    border: 2px solid #F9804B;
    border-radius: 5px;
}

.animals__text {
    display: flex;
    justify-content: space-between;
    
}

.animals__container__buttons {
    margin-top: 32px;
}

.animals__text_bold {
    display: grid;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;  
    padding: 7px 0 11px 14px;
}

.animals__text__300 {
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;    
}


.animals__icons {
    padding: 9px;
}

.button__arrow__left {
    width: 114px;
    height: 62px;
    border: 2px solid #F9804B;
    border-radius: 100px;
    transform: rotate(-180deg);
    background-color: #F9804B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__arrow__left:hover {
    background: #4B9200;
    border: 2px solid #4B9200;
    cursor: pointer;
}

.button__arrow__right {
    width: 119px;
    height: 62px;
    border: 2px solid #F9804B;
    border-radius: 100px;
    transform: rotate(-180deg);
    background-color: #F9804B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__arrow__right:hover {
    background: #4B9200;
    border: 2px solid #4B9200;
    cursor: pointer;
}

.animals__container__buttons {
    display: flex;
    align-items: center;
}

.promo__buttons__choose {
    display: flex;
    justify-content: center;
    padding-top: 81px;
    padding-bottom: 100px;
}

.button__link__choose {
    padding: 16px 58px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.button__link__choose:hover {
    background: #E47209;
}

.animals__carden__left {
    background: url(../../assets/images/palm_foto.png) no-repeat;           
    background-position-y: 648px;
}

.animals__carden__right {
    background: url(../../assets/images/strelitzia\ 1.png) no-repeat;
    background-position: right;
    background-position-y: 833px;
}

/* .image__hover:hover .GGGGGGGG{
    filter: brightness(70%);
    opacity: 1;
              
}
.GGGGGGGG{
    position: absolute;
    opacity: 0;
} */
.image__hover img:hover {
    filter: brightness(55%);  
    scale: 1.05;
    cursor: pointer;
     
}

.animals__card .image__hover:hover + .animals__text {
    color: rgb(255, 255, 255);
    animation: moving 0.6s normal forwards ease-in-out;
    transform: scale(1.05);
}

@keyframes moving {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-50px);
    }
}



.pick__friend__background {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pick__friend__content {
    max-width: 1160px;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 40px;
}

.pick__friend__wrapper {   
    padding: 69px 0 100px;
}

h5 {
    font-size: 48px;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;
    color: #FE9013;
    text-align: center;
}

.pick__friend__text1 {
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    padding-top: 32px;
    padding-left: 98px;
}

.pick__friend__text2 {
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 98px;
    letter-spacing: 0.005em;
}

.pick__friend__text3 {
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    max-width: 970px;
    padding-top: 10px;
    padding-left: 98px;
}

.pick__friend__text4 {
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    text-align: center;
    padding-top: 60px;
}

.pick__friend__card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding-top: 40px;
}

.pick__friend__card1__image {
    width: 168px;
    height: 168px;
    background-color: #FFFFFF;
    border: 2px solid #F9804B;  
    border-radius: 9px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.pick__friend__widjet__text {
    padding-top: 30px;
    line-height: 140%;
}

.vector {
    padding-bottom: 83px;
}
.pick__friend__buttons {
    text-align: center;
    padding-top: 77px;    
}

.button__link__feed {
    padding: 16px 73px;    
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.button__link__feed:hover {
    background: #E47209;
}

.pick__friend__text3 a {
    border-bottom: 1px solid #FE9013;    
    color: #333B41;    
}

h6 {
    font-size: 36px;
    line-height: 130%;    
    padding-top: 140px;
    text-align: center;
}

.testimonials__card {
    width: 264px;
    height: 391px;
    border-radius: 20px;     
    background-color: #F1F3F2;  
    position: relative;  
}

.testimonials__card::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(to left top, rgba(254, 189, 171, 0.74) 33%, rgba(243, 169, 248, 0.66) 68%, #e0d8f0 45.57%, #eaf7fe 82.33%, #eaf7fe 99.1%);
    border-image-slice: 1;
    z-index: -1;
    border-radius: 20px;
}

.testimonials__top {
    display: flex;
    padding: 13px 0 6px 15px;
}

.testimonials__slider {
    display: flex;
    padding-top: 47px;
    justify-content: space-between;
}

.testimonials__slider__text {
    font-size: 15px;
    font-weight: 200;
    line-height: 120%;
    color: #767474;
    padding: 0 14px 19px 16px;
    letter-spacing: -0.012rem;
    overflow: hidden;    
    height: 309px;
}

.testimonials__top__name p {
    padding-left: 9px;
}

.wrp {
    text-align: center;
}

.range {
    -webkit-appearance: none;    
    border-radius: 5px;
    width: 599px;
    height: 8px;
    outline: none;
    background-color: #F5F7F6;
    margin: 21px 0 31px;
    position: relative;
}

.range::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: linear-gradient(to left top, rgba(254, 189, 171, 0.74) 33%, rgba(243, 169, 248, 0.66) 68%, #e0d8f0 45.57%, #eaf7fe 82.33%, #eaf7fe 99.1%);
    border-image-slice: 1;
    z-index: -1;
    border-radius: 20px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #FE9013;
    width: 116px;
    height: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.button__link__leave {
    padding: 17px 84px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.testimonials__buttons {
    padding-top: 16px;
    padding-bottom: 194px;
}

.button__link__leave:hover {
    background: #E47209;
}

.testimonials__background {
    background: url(../../assets/images/leav_foto.png) no-repeat;
    background-position: right;
    background-position-y: 643px;
}

.footer {
    background-color: #111115;
}

.footer__one {
    display: flex;
    justify-content: space-between;
}

.footer__one {
    display: flex;
    padding-top: 40px;
}

.footer__text {
    color: #FFFFFF;
    font-size: 24px;
}

.submit {
    padding: 8px 38px;   
    background: #F1F3F2;
    border-radius: 5px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;  
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #000000;
}

.submit:hover{
    cursor: pointer;
    color: #4B9200;
    border: 1px solid #4B9200;
}

.email {
    width: 228px;
    height: 42px;
    background-color: #111115;
    border: 1px solid #F9804B;    
}

.footer__email__enter {
    align-items: center;
    column-gap: 11px;
    display: flex;
    padding-top: 14px;
}

.footer__buttons {
    padding-top: 52px;
}

.button__link__donate {
    padding: 17px 50px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.button__link__donate:hover {
    background: #E47209;
}

.footer__three {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.social__networks {
    padding-top: 48px;
}

.footer__networks {
    display: flex;
    column-gap: 12px;
    margin: 10px 0;
    align-items: center;
}

.circle__image {
    width: 26px;
    height: 26px;    
    border-radius: 100px;    
    background-color: rgba(196, 196, 196, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__networks p {
    color: #FFFFFF;
}

.footer__navigation {
    margin-bottom: 12px;
    margin-left: 122px;
}

.footer__school a {
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    font-style: normal;
    line-height: 216%;
    font-weight: 100;
}

.footer__wrapper{
    height: 443px;
}

.circle__image:hover{    
    background-color: #4B9200;
    cursor: pointer;
}

.footer__networks .circle__image:hover + .footer__networks__text{
    color: #4B9200;
}

.footer__networks__text:hover {
    color: #4B9200;
    cursor: pointer;
}

.footer__networks__text:hover + .footer__networks .circle__image {
    color: #4B9200;
}







.footer__school:hover a{
    color: #4B9200;
    text-decoration: underline;
}